@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");
* {
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
    font-family: "Poppins", sans-serif !important;
}


table {
    height: 60vh;
    width: 80%;
    border-collapse: collapse;
    margin-top: 30px;
}



.header_fixed thead th {
    position: sticky;
    top: 0;
    background-color: black;
    color: #e6e7e8;
    font-size: 15px;
}
.container {
    min-height: 100vh;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

th,
td {
    border-bottom: 1px solid #dddddd;
    padding: 10px 20px;
    font-size: 14px;
    text-align: center;
}

td img {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    border: 5px solid #e6e7e8;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:nth-child(odd) {
    background-color: #edeef1;
}

tr:hover td {
    color: #44b478;
    cursor: pointer;
    background-color: #ffffff;
}
.select-button4 {
    border: none;
}
.table-btn {
    background: transparent;
    min-width: 65px;
    border: none;
    outline: none;
    min-height: 39px;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: 0.5s;
    font-family: "Poppins", serif;
}
.table-btn:hover {
    background-color: #44b478;
    color: white;
}
.table-btn2 {
    background: transparent;
    min-width: 65px;
    border: none;
    outline: none;
    min-height: 39px;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: 0.5s;
    font-family: "Poppins", serif;
}
.table-btn2:hover {
    background-color: rgb(253, 0, 0);
    color: white;
}
.delete-btn {
    background: transparent;
    min-width: 65px;
    border: none;
    outline: none;
    min-height: 39px;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: 0.5s;
    font-family: "Poppins", serif;
}
.delete-btn:hover {
    background-color: #ff3131;
    color: white;
}
td button {
    border: none;
    padding: 7px 20px;
    border-radius: 20px;
    background-color: black;
    color: #e6e7e8;
}
#myInput {
    position: absolute;
    top: 10%;
}
.fname{
    max-width: 30px;
    margin-bottom: 7px;
}
.fname1{
    max-width: 50px;
    margin-bottom: 7px;
    text-align: center;
}
.fine{
    position: absolute;
    right :21%;
    top:90%;
    color: #E57373;
}
.due{
    position: absolute;
    right :46%;
    top:90%;
    color: #E57373;
}
.numbr{
    position: absolute;
    right :47.5%;
    top:92.5%;
    color:red ;
}
.numbr1{
    position: absolute;
    right :33.5%;
    top:110%;
    color:red ;
}
/* footer css */
.foot-container {
    max-width: 1170px;
    margin: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.ul {
    list-style: none;
}
.footer {
    background-color: lightslategray;
    padding: 70px 0;
    padding-left: 30vh;
    margin-top: 20px;
    position: relative;
    bottom: 0;
}
.footer-col {
    width: 25%;
    padding: 0 15px;
}
.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}
.footer-col ul li {
    margin-bottom: 10px;
    list-style: none;
}
.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: lightgrey;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}
/* login page css */
.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.selector {
    width: 350px;
}
#selectField {
    width: 100%;
    padding: 15px 20px;
    margin-bottom: 30px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
#selectField img {
    width: 12px;
    transition: transform 0.5s;
}
#list {
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 6px;
    overflow: hidden;
}
.options {
    width: 100%;
    padding: 15px 0 15px 70px;
    list-style: none;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
}
.options img {
    width: 25px;
    position: absolute;
    top: 12px;
    left: 25px;
    background:transparent;
}
.options:hover {
    background: rgba(255, 255, 255, 0.7);
}
.hide {
    visibility: hidden;
}
.rotate {
    transform: rotate(180deg);
}
